body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(0, 0, 0);
  background-color: rgb(113, 191, 228);
}

.btn{
  background-color: rgb(112, 35, 128);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}
.single__quastion:hover{
  background-color: rgb(255, 255, 255);
}
.single__quastion{
 border: 2px solid rgb(85, 85, 85);
margin: 5px;
box-shadow: rgb(143, 143, 143) 2px 3px 5px;

}
